body {
  margin: 0;
  font-family: "Inter", Helvetica, sans-serif;
}

#function {
  padding: 10px;
  min-width: 400px;
}

#title-bar {
  background-color: #007aff;
  margin: 0;
  padding: 10px;
  text-align: center;
  font-weight: 600;
  color: white;
  font-size: 18px;
  border-bottom: 2px solid #0067d4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 400px;
}

#title-bar p {
  margin: 0;
}

#title-bar a {
  color: white;
  cursor: pointer;
  font-size: 14px;
}

#title-bar a:hover {
  text-decoration: none;
}

#help-information {
  padding: 10px;
}

#help-information h1 {
  font-size: 18px;
  text-align: center;
}

#help-information p {
  margin-top: 5px;
}

#help-information ol {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#input-el {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #007aff;
  border-radius: 5px;
}

button {
  background-color: #007aff;
  border: none;
  border-radius: 5px;
  color: white;
  margin-top: 5px;
  padding: 13px 20px;
  font-weight: 600;
}

button:hover {
  opacity: 80%;
  cursor: pointer;
}

button:active {
  opacity: 60%;
}

#done-button {
  background-color: #3d9bff;
}

#clear-button {
  background-color: white;
  border: 1px solid #007aff;
  border-radius: 5px;
  color: #007aff;
  padding-top: 12px;
  padding-bottom: 12px;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.posting {
  display: flex;
  align-items: center;
  gap: 3px;
  padding: 1px;
}

.complete {
  margin-left: 0;
}

#application-counter {
  display: flex;
  justify-content: center;
}

.counter-text {
  font-size: 16px;
  margin-bottom: 15px;
  font-weight: 550;
}