body {
  margin: 0;
  padding: 10px;
  font-family: Helvetica, Arial, sans-serif;
  min-width: 400px;
}

input {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #007aff;
  border-radius: 2px;
}

button {
  background-color: #007aff;
  border: none;
  border-radius: 2px;
  color: white;
  margin-top: 5px;
  padding: 13px 20px;
  font-weight: 600;
}

#clear-button {
  background-color: white;
  border: 1px solid #007aff;
  color: #007aff;
}

ul {
  list-style-type: square;
  padding-left: 25px;
  margin-top: 25px;
}

li {
  margin: 2px 0;
}

a {
  color: black;
}